:root {
    --background: #1d2021;
    --foreground: #ebdbb2;

    /* Black + DarkGrey */
    --color0: #282828;
    --color8: #928374;

    /* DarkRed + Red */
    --color1: #cc241d;
    --color9: #fb4934;

    /* DarkGreen + Green */
    --color2: #98971a;
    --color10: #b8bb26;

    /* DarkYellow + Yellow */
    --color3: #d79921;
    --color11: #fabd2f;

    /* DarkBlue + Blue */
    --color4: #458588;
    --color12: #83a598;

    /* DarkMagenta + Magenta */
    --color5: #b16286;
    --color13: #d3869b;

    /* DarkCyan + Cyan */
    --color6: #689d6a;
    --color14: #8ec07c;

    /* LightGrey + White */
    --color7: #a89984;
    --color15: #ebdbb2;
}

body {
  background-color: var(--background);
  margin: 0 0 auto 0;
}

#banner {
    height: 14px;
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-image: linear-gradient(to right,
        /*RED*/ var(--color1) 0%, var(--color1) 14%,
        /*ORANGE*/ var(--color9) 14%, var(--color9) 28%,
        /*YELLOW*/ var(--color3) 28%, var(--color3) 42%,
        /*GREEN*/ var(--color2) 42%, var(--color2) 56%,
        /*CYAN*/ var(--color6) 56%, var(--color6) 70%,
        /*BLUE*/ var(--color4) 70%, var(--color4) 84%,
        /*PURPLE*/ var(--color5) 84%, var(--color5) 100%);
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -64.5px;
  margin-top: -85.5px;
}

.ghost {
  animation: float 3s ease-out infinite;
}

@keyframes float {
  50% {
    transform: translate(0, 20px);
  }
}

.shadowFrame {
  width: 130px;
  margin-top: 15px;
}

.shadow {
  animation: shrink 3s ease-out infinite;
  transform-origin: center center;
}

ellipse {
  transform-origin: center center;
}

@keyframes shrink {
  0% {
    width: 90%;
    margin: 0 5%;
  }
  50% {
    width: 60%;
    margin: 0 18%;
  }
  100% {
    width: 90%;
    margin: 0 5%;
  }
}
